/*
Codes couleur :
Gris clair : #F2F2F2;
Gris foncé : #333333;
Rouge brique : #C1272D;
Bleu : #0071BC;

Fonts :
'Lobster Two' 400;
'Source Sans Pro' 300, 600;
*/
@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Source+Sans+Pro:300,600');

/* ----- STYLES PAR DÉFAUT [DESKTOP] ----- */
/* ----- COMMUN ----- */
body {
	font-size: 14px;
	line-height: 16px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#google_map{
    height: 100%;
}
p {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}

div.row-head {
	position: relative;
	color: #F2F2F2;
	background-color: #333333;
	z-index: 2;
}

div.col-md-3, div.col-md-4, div.col-md-5 {
	padding: 0;
}

div.line {
	display: inline-block;
	width: 1px;
	height: 70px;
	vertical-align: top;
	background-color: #C1272D;
	margin: 20px 5% 0 0;
}

/* ----- 1ERE COLONNE / ROW-HEAD ----- */
div.col1 {
	display: table;
	margin: 0 auto;
	padding: 0 0 40px 0;
	cursor: pointer;
}

div.col1:hover > div.icon > span {
	transform: rotateZ(90deg);
	transition-duration: 0.3s;
}

div.title {
	display: inline-block;
}

div.title > h1 {
	font-size: 26px;
	font-family: 'Lobster Two', cursive;
	margin: 40px 0 0 0;
}
div.icon {
	display: inline-block;
	font-size: 2em;
	margin: 35px 0 0 0;
}

div.icon > span.glyphicon-remove {
	display: none;
}

div.icon > span {
	transition-duration: 0.3s;
}

div.title, div.icon {
	padding: 0;
}

/* ----- 2EME COLONNE / ROW-HEAD ----- */
div.user-search {
	display: inline-block;
	vertical-align: middle;
	padding: 20px 10px 10px 0;
	width: 93%;
}

div.top {
	margin: 0 0 10px 0;
}

div.top, div.bot {
	height: 32px;
}

div.top > i, div.bot > i {
	font-size: 26px;
	width: 50px;
}

div.top > p, div.bot > p {
	text-align: left;
	vertical-align: top;
	width: 85%;
}

div.top > i, div.top > p, div.bot > i, div.bot > p {
	display: inline-block;
}

/* ----- 3EME COLONNE / ROW-HEAD ----- */
div.block {
	display: inline-block;
	width: 90%;
	margin: 0 auto;
}

div.eye-block, div.button-museum, div.button-monument {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

div.eye-block, div.button-museum, div.button-monument {
	padding: 14px 0;
}

div.museum, div.monument {
	width: 50px;
	height: 50px;
	border: solid #F2F2F2 1px;
	border-radius: 5px;
	margin: 0 auto 10px auto;
	transition-property: all;
	transition-duration: 0.3s;
}

div.eye-block > i {
	font-size: 2.5em;
	margin: 0 0 10px 0;
}

div.museum > i, div.monument > i {
	font-size: 2em;
	line-height: 50px;
}

/* BOUTON ACTIF */
div.active {
	border: solid #C1272D 1px;
	color: #C1272D;
	transition-property: all;
	transition-duration: 0.3s;
}

/* ----- // FORMULAIRE // ----- */
div#icon {
	display: none;
}

div.row-form {
	position: relative;
}

div.formulaire {
	position: absolute;
	top: 0;
	color: #F2F2F2;
	background-color: rgba(0,0,0,0.75);
	transition-duration: 1s;
	z-index: 1;
}
/* Afficher/Masquer le formulaire */
div.deploy {
	top: -560px;
	transition-duration: 1s;
}

div.desc {
	padding: 15px 5%;
	font-size: 18px;
	line-height: 20px;
	text-align: center;
}

div.form-commun {
	margin: 0 0 10px 0;
}
div.form-musee {
	border-right: solid #F2F2F2 1px;
}
div.form-monument {
	border-left: solid #F2F2F2 1px;
}
div.form-musee, div.form-monument {
	margin-bottom: 20px;
}

div.form-musee > h2, div.form-monument > h2 {
	font-family: 'Source Sans Pro';
	font-weight: 600;
	font-size: 24px;
	line-height: 26px;
	text-align: center;
	margin: 0 0 20 0;
}

div.form-group > label {
	font-family: 'Source Sans Pro';
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
	width: 100%;
	text-align: center;
}

button#btn_validation {
	position: relative;
	width: 60px;
	height: 40px;
	border: none;
	border-top: solid #C1272D 3px;
	border-bottom: solid #C1272D 3px;
	background-color: transparent;
	transition-duration: 0.3s;
	transition-property: all;
}
button#btn_validation:hover {
	background-color: #C1272D;
}
button#btn_validation:hover > span.glyphicon-search {
	opacity: 0.1;
}
button#btn_validation:hover > span.go {
	opacity: 1;
}

button#btn_validation > span {
	font-size: 24px;
	line-height: 26px;
	top: 0;
	transition-duration: 0.3s;
	transition-property: opacity;
}

button#btn_validation > span.go {
	position: absolute;
	font-family: 'Source Sans Pro';
	font-weight: 600;
	right: 25%;
	top: 15%;
	opacity: 0;
	transition-duration: 0.3s;
	transition-property: opacity;
}

/* ----- MAP ----- */
div.row-map {
	position: relative;
	width: 100%;
	height: 85%;
	margin: 0;
	z-index: 0;
}

/* ----- INFOBULLES ----- */
h1.firstHeading {
	font-size: 24px;
	line-height: 26px;
}

p.descriptif {
	margin: 0 0 20px 0;
}

div.adresse {
	width: 70%;
}
div.adresse > i {
	font-size: 18px;
	margin-right: 15px;
}
div.adresse > p {
	font-size: 15px;
}
div.adresse > i, div.adresse > p {
	display: inline-block;
}

div.insee {
	padding-left: 5%;
	border-left: solid #333333 2px;
	font-size: 15px;
}

div.adresse, div.insee {
	display: inline-block;
}

div.acces {
	margin-top: 5px;
}
div.acces > i {
	display: inline-block;
	font-size: 18px;
	line-height: 20px;
	margin-right: 10px;
}
div.acces > p {
	display: inline-block;
	font-size: 15px;
	line-height: 17px;
}

div.contact {
	font-size: 15px;
	line-height: 17px;
	padding-top: 5px;
	margin-top: 5px;
	border-top: solid #333333 2px;
}
div.contact > p.c {
	margin-bottom: 5px;
}
div.contact > i {
	display: inline-block;
	font-size: 18px;
	line-height: 20px;
	padding-right: 10px;
}

a.site, a.facebook {
	text-decoration: none;
}
a.site > i, a.facebook > i {
	font-size: 18px;
	line-height: 20px;
}
p.tel, p.mail, a.site {
	margin-right: 10px;
}
p.tel, p.mail, a.site, a.facebook {
	display: inline-block;
}

p.descriptif2 {
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: solid #333333 2px;
}

div.info {
	display: inline-block;
	width: 80%;
}

div.categorie, div.siecle, div.proprietaire, div.commune {
	font-size: 15px;
	line-height: 17px;
}
div.categorie > i, div.siecle > i, div.proprietaire > i, div.commune > i {
	display: inline-block;
	width: 5%;
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	vertical-align: top;
	margin-right: 10px;
}
p.ca, p.si, p.pr, p.co {
	display: inline-block;
	height: 34px;
	width: 90%;
}

div.bodyContent > img {
	display: inline-block;
	width: 20%;
}

/* ----- MEDIA QUERIES ----- */

/* ECRAN < 991 // TABLETTE // MOBILE */ 
@media (max-width: 991px) {

	div.row-head {
		display: block;
		color: #333333;
		background-color: initial;
		z-index: 2;
	}

	div.line {
		display: none;
	}

/* ----- 1ERE LIGNE ----- */
	div.col1 {
		margin: 0;
		display: block;
	}

	div.title {
		cursor: default;
	}

	div.col1:hover > div#icon > span {
		transform: none;
		transition-property: color; /* Pour anéantir l'animation Hover du desktop */
	}

	div.title > h1 {
		margin: 0;
		padding: 5px 0;
		font-size: 32px;
		text-align: center;
	}
	/* Icon desktop */
	div.icon {
		display: none;
	}

	/* Icon Mobile */
	div#icon {
		display: initial;
		position: absolute;
		top: -285px;
		right: 0;
		margin: 0;
		color: #F2F2F2;
		background-color: #333333;
		font-size: 45px;
		text-align: center;
		border-bottom: solid #C1272D 5px;
		cursor: pointer;
		z-index: 3;
	}

	div#icon > span.glyphicon-search {
		opacity: 0;
		transform: rotateY(180deg);
		transition-property: transform;
		transition-duration: 0.3s;
	}

	div#icon > span.glyphicon-remove {
		display: block;
		position: absolute;
		top: 15px;
		width: 100%;
		opacity: 0;
		transform: rotateY(180deg);
		transition-property: transform;
		transition-duration: 0.3s;
	}
	/* Pour switch Loupe/Croix */
	div#icon > span.visible {
		opacity: 1;
		transform: rotateY(0deg);
		transition-property: transform;
		transition-duration: 0.3s;
	}

	div.title, div#icon {
		padding: 15px 0;
	}

/* ----- 2EME LIGNE ----- */
	div.user-search {
		display: block;
		padding: 15px 0 10px 30px;
	}

	div.top, div.bot {
		width: 95%;
	}

/* ----- 3EME LIGNE ----- */
	div.block {
		width: 100%;
		border-top: solid #C1272D 5px;
		color: #F2F2F2;
		background-color: #333333;
	}

	div.eye-block {
		color: #F2F2F2;
		background-color: #333333;
		padding: 10px 0;
		float: right;
	}

	div.eye-block > p {
		font-size: 18px;
		line-height: 20px;
	}

	div.button-museum, div.button-monument {
		padding: 10px 0 0 0;
	}

	div.button-monument > p {
		margin: 0 0 0 18%;
		width: 60px;
		font-size: 16px;
	}

	div.button-museum > p {
		margin: 0 0 0 60%;
		width: 60px;
		font-size: 16px;
	}

	div.museum {
		margin: 0 0 0 60%;
	}

	div.monument {
		margin: 0 0 0 20%;
	}

	div.museum, div.monument {
		border: none;
		width: 60px;
		height: 70px;
	}

	div.museum > i, div.monument > i {
		font-size: 60px;
		line-height: 60px;
		color: #F2F2F2;
		opacity: 0.2;
		transition-property: all;
		transition-duration: 0.3s;
	}

	/* BOUTON ACTIF */
	div.active > i {
		color: #C1272D;
		opacity: 1;
		transition-property: all;
		transition-duration: 0.3s;
	}

	/* ----- // FORMULAIRE // ----- */
	div.formulaire {
		background-color: #333333;
		top: -285px;
		left: 100%;
		z-index: 2;
	}

	div.desc > p {
		height: 30px;
	}

	div.form-commun {
		padding: 0 100px;
	}

	div.deployM {
		left: 0;
		transition-property: left;
		transition-duration: 1s;
	}

}

/* ----- AJUSTEMENT FORMULAIRE ----- */
@media (max-width: 490px) {

	div#icon {
		top: -305px;
	}

	div.formulaire {
		top: -305px;
	}

	div.form-commun {
		padding: 0 50px;
	}
}